Repository kakao-tech-campus-2nd-step3/Team16_FE, pull requests merged in 2024-10, with the labels that each got.

#42 [FEAT] 생성 페이지 폼 UI 재PR
  package-lock.json
  package.json
  src/components/features/Create/Button/index.tsx
  src/components/features/Create/Form/DateRange/custom-datepicker.css
  src/components/features/Create/Form/DateRange/index.tsx
  src/components/features/Create/Form/Duration/index.tsx
  src/components/features/Create/Form/MeetingName/index.tsx
  src/components/features/Create/Form/TimeRange/index.tsx
  src/components/features/Create/Form/index.tsx
  src/components/features/Create/Map/index.tsx
  src/hooks/useCreateFormContext.tsx
  src/pages/Create/index.tsx
Labels: Assignee1_김다연, feat 🔥

#44 [FEAT] 5주차 활동 상황 머지
  package-lock.json
  package.json
  public/assets/images/onboarding/image1.svg
  public/assets/images/onboarding/image2.svg
  public/assets/images/onboarding/image3.svg
  public/assets/images/onboarding/image4.svg
  public/icons/kakao-icon.svg
  src/api/hooks/useGetMyEvents.ts
  src/api/hooks/useGetUser.ts
  src/api/instance/index.ts
  src/api/mock/calendar.mock.ts
  src/components/features/Create/Button/index.tsx
  src/components/features/Create/Form/DateRange/custom-datepicker.css
  src/components/features/Create/Form/DateRange/index.tsx
  src/components/features/Create/Form/Duration/index.tsx
  src/components/features/Create/Form/MeetingName/index.tsx
  src/components/features/Create/Form/TimeRange/index.tsx
  src/components/features/Create/Form/index.tsx
  src/components/features/Create/Map/index.tsx
  src/components/features/Home/MyCalendar/index.tsx
  src/hooks/useCreateFormContext.tsx
  src/mocks/browser.ts
  src/pages/Create/index.tsx
  src/pages/Home/index.tsx
  src/pages/Onboarding/index.tsx
  src/routes/index.tsx
  src/routes/path.ts
  src/service/Calendar/components/DefaultCalendar/index.tsx
  src/service/Calendar/index.ts
  src/service/Calendar/style/index.css
  src/service/Calendar/types/index.ts
  src/styles/index.ts
  src/styles/utils/index.ts
  src/styles/variants.css
  src/styles/variants/index.ts
Labels: chore 🧹, 📝 docs, feat 🔥

#51 [FEAT] 생성하기 버튼 로직
  package-lock.json
  src/api/hooks/useCreateMeeting.ts
  src/api/mock/meeting.mock.ts
  src/components/common/Button/index.tsx
  src/components/features/Create/Button/index.tsx
  src/components/features/Create/CreateBtn/index.tsx
  src/components/features/Create/CreateBtn/validation.ts
  src/components/features/Create/CreateForm/DateRange/custom-datepicker.css
  src/components/features/Create/CreateForm/DateRange/index.tsx
  src/components/features/Create/CreateForm/Duration/index.tsx
  src/components/features/Create/CreateForm/MeetingName/index.tsx
  src/components/features/Create/CreateForm/TimeRange/index.tsx
  src/components/features/Create/CreateForm/index.tsx
  src/components/features/Create/CreateMap/index.tsx
  src/hooks/useCreateFormContext.tsx
  src/mocks/browser.ts
  src/pages/Create/index.tsx
  src/styles/variants.css
  src/styles/variants/index.ts
Labels: Assignee1_김다연, feat 🔥

#53 [FEAT] 내 모임 목록 조회 추가
  .gitignore
  src/api/hooks/useGetMyMeetings.ts
  src/api/mock/meeting.mock.ts
  src/components/common/layouts/Container/index.tsx
  src/components/common/layouts/Spacing/index.tsx
  src/components/features/Home/MyMeetingListSection/MeetingList/index.tsx
  src/components/features/Home/MyMeetingListSection/index.tsx
  src/pages/Home/index.tsx
  src/styles/reset.css
  src/utils/converter/index.ts
Labels: Assignee3_geongyu09, feat 🔥

#52 [FEAT] 생성 페이지 지도 구현
  package-lock.json
  public/index.html
  src/api/hooks/useCreateMeeting.ts
  src/api/hooks/usePlaceSearch.ts
  src/components/features/Create/CreateBtn/index.tsx
  src/components/features/Create/CreateBtn/validation.ts
  src/components/features/Create/CreateForm/DateRange/index.tsx
  src/components/features/Create/CreateForm/Duration/index.tsx
  src/components/features/Create/CreateForm/MeetingName/index.tsx
  src/components/features/Create/CreateForm/TimeRange/index.tsx
  src/components/features/Create/CreateMap/index.tsx
  src/hooks/useCreateFormContext.tsx
  src/hooks/useGeocoder.ts
  src/hooks/useGeolocation.ts
  src/hooks/useKakaoMap.ts
  src/types/index.ts
Labels: Assignee1_김다연, feat 🔥

#56 [DOCS] 6주차 리뷰 readme 작성
  README.md
Labels: Assignee3_geongyu09, 📝 docs

#57 [FEAT] 6주차 활동 머지
  .gitignore
  README.md
  package-lock.json
  public/index.html
  src/api/hooks/useCreateMeeting.ts
  src/api/hooks/useGetMyMeetings.ts
  src/api/hooks/usePlaceSearch.ts
  src/api/mock/meeting.mock.ts
  src/components/common/Button/index.tsx
  src/components/common/layouts/Container/index.tsx
  src/components/common/layouts/Spacing/index.tsx
  src/components/features/Create/Button/index.tsx
  src/components/features/Create/CreateBtn/index.tsx
  src/components/features/Create/CreateBtn/validation.ts
  src/components/features/Create/CreateForm/DateRange/custom-datepicker.css
  src/components/features/Create/CreateForm/DateRange/index.tsx
  src/components/features/Create/CreateForm/Duration/index.tsx
  src/components/features/Create/CreateForm/MeetingName/index.tsx
  src/components/features/Create/CreateForm/TimeRange/index.tsx
  src/components/features/Create/CreateForm/index.tsx
  src/components/features/Create/CreateMap/index.tsx
  src/components/features/Create/Map/index.tsx
  src/components/features/Home/MyMeetingListSection/MeetingList/index.tsx
  src/components/features/Home/MyMeetingListSection/index.tsx
  src/hooks/useCreateFormContext.tsx
  src/hooks/useGeocoder.ts
  src/hooks/useGeolocation.ts
  src/hooks/useKakaoMap.ts
  src/mocks/browser.ts
  src/pages/Create/index.tsx
  src/pages/Home/index.tsx
  src/styles/reset.css
  src/styles/variants.css
  src/styles/variants/index.ts
  src/types/index.ts
  src/utils/converter/index.ts
Labels: feat 🔥

#62 [FEAT] Join 페이지 레이아웃 구축
  src/api/mock/meeting.mock.ts
  src/components/common/layouts/Container/index.tsx
  src/components/features/Create/CreateBtn/index.tsx
  src/components/features/Join/JoinBtn/index.tsx
  src/components/features/Join/JoinCalendar/index.tsx
  src/components/features/Join/JoinFood/index.tsx
  src/components/features/Join/JoinTitle/index.tsx
  src/pages/Create/index.tsx
  src/pages/Join/index.tsx
  src/service/Calendar/style/index.css
Labels: Assignee1_김다연, feat 🔥

#68 [DOCS] 8주차 README 작성
  README.md
Labels: 📝 docs

#73 [FEAT] 그룹 페이지 추천 메뉴 추가
  src/api/hooks/useGetCategory.ts
  src/api/hooks/useGetRecommandMenu.ts
  src/api/mock/meeting.mock.ts
  src/components/common/Menu/DefaultMenu/index.tsx
  src/components/common/Menu/MenuCategory/index.tsx
  src/components/features/Group/GroupCollectedMenuSection/index.tsx
  src/components/features/Group/GroupParticipantsSection/index.tsx
  src/hooks/useGetMeetingId.ts
  src/pages/Group/index.tsx
  src/styles/variants.css
  src/styles/variants/index.ts
Labels: Assignee3_geongyu09, feat 🔥

#78 [FEAT] 푸터 구현
  src/components/features/Layout/Footer/index.tsx
  src/components/features/Layout/Header/index.tsx
  src/components/features/Layout/index.tsx
  src/pages/Home/index.tsx
Labels: Assignee3_geongyu09, feat 🔥

#79 [FEAT] 그룹 나가기 버튼 추가
  src/api/hooks/useLeaveGroup.ts
  src/api/mock/meeting.mock.ts
  src/components/features/Group/GroupLeaveBtn/index.tsx
  src/pages/Group/index.tsx
  src/styles/variants.css
Labels: Assignee3_geongyu09, feat 🔥

#80 [FEAT] Join 캘린더 구현
  src/api/hooks/useCreateMeeting.ts
  src/api/hooks/useGetMeetingInfo.ts
  src/api/mock/meeting.mock.ts
  src/components/features/Join/JoinCalendar/index.tsx
  src/components/features/Join/JoinTitle/index.tsx
  src/pages/Join/index.tsx
  src/routes/index.tsx
  src/service/Calendar/components/WeeklyCalendar/index.tsx
  src/service/Calendar/index.ts
  src/service/Calendar/style/index.css
  src/styles/variants.css
  src/types/index.ts
Labels: Assignee1_김다연, feat 🔥
